<section class="section-jeff scale-up-top ">
    <div class="section-jeff__wrapper container">

        

        <article class="section-jeff__text">
            <div class="section-jeff__img-jeff">
                <img class="section-jeff__jeff" src="./img/teacher/jeff.png" alt="jeff">
            </div>

            <h1 class="section-jeff__title">
                My name is Jeff Bezos
            </h1>

            <div class="section-jeff__job">
                I’m JS developer
            </div>

            <div class="section-jeff__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt in malesuada tristique arcu non eu lectus orci. Amet non, sed eget ultrices cur
            </div>




        </article>



    </div>
</section>