html, body {
	height: 100%;
}
body {
	font-family: var(--ff);
	background: var(--Blue-background, #3D5A80);
	
}
.container {
	
	max-width: 1250px;
	margin-inline: auto;
}
.main {
	padding: 220px;
}
.one{
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	justify-content: center;

}

.brick{
	width: 309px;
	height: 254px;

}