<!-- <section class="section-teacher scale-up-top ">
  <div class="section-teacher__wrapper container">
    <div class="section-teacher__text">
      <div class="section-teacher__our">Our.</div>
      <div class="section-teacher__your">Your.</div>
      <div class="section-teacher__teacher">Teachers</div>
    </div>

    <div class="section-teacher__link">
      <a class="section-teacher__a" href="/">More..</a>
    </div>
  </div>

  <div class="section-teacher__teachers container">
    <div class="section-teacher__blue">
      <img
        class="section-teacher__jeff"
        src="./img/teacher/jeff.png"
        alt="jeff"
      />
    </div>

    <div class="section-teacher__green">
      <img
        class="section-teacher__mark"
        src="./img/teacher/mark.png"
        alt="mark"
      />
    </div>

    <div class="section-teacher__red">
      <img
        class="section-teacher__bill"
        src="./img/teacher/henry.png"
        alt="bill"
      />
    </div>
  </div>
</section> -->
