<!-- <section class="section-front container">
    <img class="section-front__bg" src="./img/front/flash.png" alt="bg">

<div class="section-front__container">
    <div class="section-front__about">
        <div>
            <a href="/" class="section-front__link"></a>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum reiciendis quasi cum pariatur aspernatur, recusandae eos porro tempore quae similique adipisci ea? Illo eligendi mollitia explicabo velit illum vitae magni!</p>
        

    </div>













    <div class="section-front__about">
        <div class="section-front__title"></div>

        <div class="section-front__objects">
            <div class="section-front__objects1">

                <div class="section-front__figers">01</div>

                <div class="section-front__desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus imperdiet sed id.</div>


            </div>

            <div class="section-front__objects2">

                <div class="section-front__figers">02</div>

                <div class="section-front__desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus imperdiet sed id.
                </div>


            </div>
        </div>
    </div>






</div>
    

</section>
 -->
