<section class="section-curses ">
  <img class="section-curses__bg" src="./img/bg/men.png" alt="" />
  <main class="section-curses__wrapper container scale-up-top">
    <article class="section-curses__text">
      <img class="section-curses__js" src="./img/curses/js.png" alt="js" />
      <h1 style="margin-bottom: 0px;" class="section-curses__title">
        JavaScript. Think. Solve. Develop.
      </h1>

      <p class="section-curses__desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus
        imperdiet sed id elementum. Quam vel aliquam sit vulputate.
      </p>
      <div class="section-curses__btn">
        <a class="section-curses__link" href="/">Let's check !</a>
      </div>
    </article>
    

    <!-- 2 part -->

    <article class="section-welcome__ob-main">
      <h1 class="section-welcome__point-title">
        Who is a JavaScript developer?
      </h1>
      <!-- 1 -->
      <div class="section-welcome__point slide-fwd-bottom ">
        <h1 class="section-welocome__figires">01</h1>

        <div class="section-welcome__desc-block">
          <h3 class="section-welocome__figires-title">About developer</h3>

          <p class="section-selcome__figires-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus
            imperdiet sed id elementum. Quam vel aliquam sit vulputate.
          </p>
        </div>
      </div>

      <!-- 2 -->

      <article class="section-welcome__point">
        <h2 class="section-welocome__figires">02</h2>

        <div class="section-welcome__desc-block">
          <h3 class="section-welocome__figires-title">Advantages</h3>

          <p class="section-selcome__figires-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus
            imperdiet sed id elementum. Quam vel aliquam sit vulputate.
          </p>
        </div>
      </article>
  

      
    </article>
  </main>
</section>
