<section class="section-adv scale-up-ver-bottom">
  <main class="section-adv__mainblock">
    <div class="section-adv__wrapper container">
      <article class="section-adv__text">
        <h1 class="section-adv__title">Advantages with our team</h1>

        <p class="section-adv__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          tincidunt in malesuada tristique arcu non eu lectus orci. Amet non,
          sed eget ultrices cur
        </p>

        <div class="section-adv__link">
          <a href="/" class="section-adv__a">Get Start</a>
        </div>
      </article>

      <div class="section-adv__img-jeff">
        <img class="section-adv__jeff" src="./img/adv.png" alt="adv" />
      </div>
    </div>

    <article class="section-adv__bricks container">
      <div class="section-adv__bricks-rose">
        <h1 class="section-adv__bricks-figirs">01</h1>

        <h2 class="section-adv__bricks-titel">Time</h2>

        <p class="section-adv__bricks-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>

      <div class="section-adv__bricks-ylw">
        <h1 class="section-adv__bricks-figirs">02</h1>

        <h2 class="section-adv__bricks-titel">Team</h2>

        <p class="section-adv__bricks-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>

      <div class="section-adv__bricks-grn">
        <h1 class="section-adv__bricks-figirs">03</h1>

        <h2 class="section-adv__bricks-titel">Money</h2>

        <p class="section-adv__bricks-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>

      <div class="section-adv__bricks-blue">
        <h1 class="section-adv__bricks-figirs">04</h1>

        <h2 class="section-adv__bricks-titel">Practice</h2>

        <p class="section-adv__bricks-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </article>
  </main>
</section>
