<section class="section-back ">
  <img class="section-back__bg" src="./img/bg/back.png" alt="bg" />

  <div>
    <img class="section-back__back-c" src="./img/back/c.png" alt="c" />
    <main class="section-back__wrapper container">
      <div class="section-back__title">Let’s talk about Back-End!</div>
      <img
        class="section-back__back-python"
        src="./img/back/python.png"
        alt="python"
      />

      <article class="section-back__text">
        <div class="section-back__blue">
          <h1 class="section-back__main">Back-End present</h1>
        </div>

        <div class="section-back__ylw">
          <p class="section-back__desc">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </article>
    </main>
    <img class="section-back__back-php" src="./img/back/php.png" alt="php" />
    <img
      class="section-back__back-think"
      src="./img/back/think.png"
      alt="think"
    />
  </div>
</section>
