<section class="function scale-up-top ">
  <div class="function__text container">
    <div class="imgafsas ">
      <img src="./img/group.png" alt="group" />
    </div>
    <div class="function__wow">
      <div class="function__title">About Boldo School</div>
      <div class="function__pagem">
        Our passion for building websites started since 2013 and since then i
        have helped companies around the world build amazing websites and
        products that create real value for the business and users.
      </div>
      <div class="function__pagei">
        We enjoy solving problems with our stydents and I also have a genuine
        passion for inspiring design.
      </div>
      <div class="function__pagea">
        We focusing on core frontend and backend technologies which include
        HTML, CSS, Javascript, React and other core languages
      </div>
    </div>
  </div>
</section>
