.section-jeff {
  background: #2f2f2f;
  

  @include desktop-small{

  }

  @include tablet-small{
    padding-top: 200px;
    margin-bottom: 3px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 200px;
    @include tablet-small{
        display: flex;
        flex-direction: column-reverse;
    }
  }

  &__img-jeff {
    width: 30%;

    @include desktop-small{
    padding-left: 20px;;
    }

    @include tablet-small{

        width: 50%;
    }

    @include mobile{
        padding-top: 0;
    }
    
  }

  &__jeff {
    border-radius: 20px;
    height: 20%;
    margin-top: 200px;
    @include mobile{
        margin-top: 50px;
        
    }
  }

  &__text {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 100px;
    @include mobile{
        display: flex;
        
        margin-left: 20px;
    }
  }

  &__title {
    max-width: 516px;
    color: #9ad7f3;
    font-family: var(--ff);
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @include mobile{
        font-size: 50px;
    }
  }

  &__job {
    color: var(--c-text-white);

    font-family: var(--ff);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__desc {
    color: var(--c-text-white);
    font-family: var(--ff);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 39px */
    @include mobile{
        padding-bottom: 0px;
        margin-bottom: 0px;

    }
  }
}
.container {
}
