.section-teacher {
  background: #2f2f2f;
  display: flex;
  padding-bottom: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
  
  @include desktop-small{
    padding-top: 0;
  }

  @include tablet{
    display: flex;
    flex-direction: column;
   
  }
  &__wrapper {
    overflow-x: hidden;
  }

  &__text {
    margin-top: 170px;
    display: flex;
    flex-direction: column;
  }

  &__our {
    color: #fec3c7;
    font-family: var(--ff-second);
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__your {
    color: #9ad7f3;
    font-family: var(--ff-second);
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__teacher {
    color: #6bdfda;
    font-family: var(--ff-second);
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
  }

  &__link {
    margin-top: 100px;
  }

  &__a {
    border-radius: 36px;
    background: #fff;
    padding: 24px 48px;

    color: #232323;
    font-family: var(--ff-second);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 75% */
    &:hover{
      background: #EE6C4D;
      transition: var(--transition);
    }
  }

  &__teachers {
    width: 677px;
    height: 772px;

    @include tablet-small{
      padding: 20px;
      margin: 0;
      
    }

    @include desktop-small{
      display: flex;
      flex-direction: column;
      margin-top: 50px;
     
    }

    @include tablet-small{
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      gap: 40px;
     
    }
  }

  &__blue {
    background: #9ad7f3;
    width: 240px;
    height: 285px;
    flex-shrink: 0;
    border-radius: 20px;
    margin-right: 0px;
    margin-top: 30px;
    @include mobile{
      margin-left: 100px;
  }
  }

  &__jeff {
    margin: 36px 48px;
    border-radius: 40px;
    border-radius: 15px;
    width: 143px;
    height: 213px;
  }

  &__green {
    background: #6bdfda;
    width: 180px;
    height: 205px;
    flex-shrink: 0;
    border-radius: 20px;
    margin-left: 400px;
    @include tablet-small{
      margin-left: 250px;
    }

    @include mobile{
      margin-left: 40px;
    }
  }

  &__mark {
    width: 120px;
    height: 150px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 30px;

    
  }

  &__red {
    background: linear-gradient(0deg, #fec3c7 0%, #fec3c7 100%), #fec3c7;
    width: 200px;
    height: 245px;
    flex-shrink: 0;
    margin-left: 100px;
    border-radius: 20px;

    @include tablet-small{
      margin-left: 50px;
    }
    @include mobile{
      margin-left: 80px;
    }
  }

  &__bill {
    width: 118px;
    margin: 36px;

    border-radius: 15px;
  }
}


