.section-front {
  position: relative;

  background: var(--Blue-background, #3d5a80);
  padding-bottom: 60px;

  &__wrapper {
    @include desktop-small{
      

    }
  }

  &__text {
    display: flex;
    @include desktop-small{
      
    }
    @include tablet-small{
      
      margin-left: 20px;
      
    

    


  }
  }
  &__html {
    margin-left: 100px;
    width: 195px;
    height: 192px;
    @include desktop-small{
      margin-right: 20px;
    }

    @include mobile{
      margin-right: 20px;
      margin-left: 30px;
      padding-left: 0;

    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    @include tablet-small{
      
        margin-left: 20px;
        
      
      padding-left: 0;
  
      


    }
    @include tablet-small{
      margin-left: 20px;
    }
  }

  &__title1 {
    color: #fff;
    font-family: var(--ff);
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.88px;
    @include mobile{
    font-size: 40px;
    }
  }

  &__title2 {
    color: #fff;
    font-family: var(--ff);
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.88px;

    @include mobile{
      font-size: 40px;
      }
  }
}
.section-front {
  &__descs {
    border-radius: 22px;
    width: 849px;
    margin-left: 200px;
    margin-top: 80px;

    background: #72b5b5;

    @include desktop-small{
      width: 600px;
      margin-left: 150px;
    }

    @include tablet{
      width: 500px;
      
    }

    @include tablet-small{
      margin-left: 20px;


    }

    @include mobile{
      margin-left: 30px;
      width: 320px;
    }
  }

  &__comment {
    padding: 20px;
    display: flex;
    flex-direction: column;

    gap: 10px;
    max-width: 800px;

    color: #fff;
    font-family: var(--ff);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;

    @include desktop-small{
      margin-left: 0;
    }
  }
}
