.section-back {
  height: 1000px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  background: linear-gradient(
    359deg,
    rgba(231, 232, 175, 0.8) 53.18%,
    rgba(38, 58, 84, 0.8) 122.27%
  );
  @include tablet {
    height: auto;
  }

  &__bg {
    position: absolute;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    height: 100%;
    top: 0;
    width: 100%;
  }

  &__wrapper {
    @include desktop-small {
      margin-left: 20px;
    }
    @include tablet {
      margin-left: 20px;
    }
  }

  &__title {
    padding-top: 80px;
    color: var(--c-text-white);
    font-family: var(--ff);
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.88px;

    @include tablet {
      padding-right: 20px;
      margin-left: 100px;
    }

    @include mobile {
      padding-left: 10px;
      margin-left: 0px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }
  &__main {
    margin-top: 33px;
    margin-left: 25px;

    color: var(--c-text-white);
    font-family: var(--ff);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.33px;
    @include tablet {
      font-size: 25px;
    }
  }
  &__blue {
    border-radius: 30px 30px 0px 0px;
    background: #2d42ff;
    max-width: 316px;
    height: 110px;

    @include tablet {
      width: auto;
      margin-left: 50px;
    }

    @include mobile {
      width: 200px;
    }
  }

  &__ylw {
    border-radius: 0px 20px 20px 20px;
    background: #f0c020;
    max-width: 500px;
    height: 208px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    @include tablet {
      width: 400px;
      height: auto;
      margin-left: 20px;
      margin-bottom: 50px;
      border-radius: 30px;
    }

    @include mobile {
      width: 300px;
    }
  }

  &__desc {
    padding: 25px;
    color: var(--c-text-white);
    font-family: var(--ff);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
    padding-bottom: 10px;
  }

  &__back-img {
    width: 30px;
    height: 30px;
  }
  &__back-c {
    width: 100px;
    padding-left: 30px;
    padding-top: 20px;
    transform: rotate(20deg);
  }

  &__back-php {
    padding-left: 300px;

    @include desktop-small {
      padding-left: 50px;
    }

    @include tablet {
      display: none;
    }
  }

  &__back-think {
    width: 180px;
    margin-left: 500px;
    padding-bottom: 0;
    padding-top: 45px;
    @include tablet {
      display: none;
    }
    @include desktop-small {
      display: none;
    }
  }

  &__back-python {
    width: 100px;
    margin-left: 1000px;

    @include desktop-small {
      margin-left: 800px;
    }

    @include tablet {
      display: none;
    }
  }
}
