.section-review {
  background: #2f3746;
  height: 600px;

  @include tablet {
    height: auto;
    padding-bottom: 50px;
  }

  &__title {
    color: var(--White, #fff);
    font-family: var(--ff);
    font-size: 28px;
    text-align: center;
    padding-top: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 36.4px */
  }

  &__slider {
    margin-bottom: 110px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 110px;
  }
}

.reveiw-item {
  padding: 30px;
  border-radius: 50px;
  display: flex;
  align-self: center;

  margin: 0 auto;
  gap: 45px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.45);

  @include tablet {
    max-width: 300px;
    height: 400px;
  }

  @include tablet-small {
  }
}
.review-item {
  &__img {
    flex-shrink: 0;
  }

  &__info {
    @include mobile {
    }
  }

  &__name {
    color: var(--White, #fff);
    font-family: var(--ff);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 4px;
    display: flex;
    gap: 10px;
  }

  &__svg {
  }

  &__role {
    color: #c5c5c5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--ff);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    margin-bottom: 15px;
  }

  &__text {
    color: var(--c-text-white);
    font-family: var(--ff);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    max-width: 440px;
  }
}
